@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro|Open+Sans);

body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body > nav a.navbar-brand {
    background-position: left center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("http://www.gravatar.com/avatar/f23700b51dc0c196c1dc02f84aeeecdf?size=128");
    padding-left: 64px;
    font-family: "Source Code Pro", monospace;
    font-weight: bold;
}

body > nav ul.navbar-nav li i.fa { margin-right: 0.5em; }

span.post-date-inline {
    font-size: 0.8em;
    font-variant: small-caps;
    font-weight: bold;
    opacity: 0.5;
}

#content {
    font-size: 1.2em;
}

article.post section.post-body { line-height: 1.5em; }
article.post section.post-sidebar div.post-nav a.list-group-item {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

body > footer {
    border-top: 3px solid #ddd;
    margin: 1em 0 1em;
    padding-top: 0.5em;
}

body > footer p.byline {
    font-weight: bold;
    opacity: 0.5;
}
