---
---
$baseurl: "{{ site.baseurl }}";
$ff-mono: "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Consolas", monospace;
$ff-serif: "DejaVu Serif", "Bitstream Vera Serif", "Georgia", serif;
$ff-sans: "DejaVu Sans", "Bitstream Vera Sans", "Helvetica", "Arial", sans-serif;

html, body {
  margin: 0;
  padding: 0;
}

html {
    background-color: #eee;
    color: #000;
    font-family: $ff-serif;
    font-size: 16px;
    line-height: 1.5;
}

div.container {
  margin: 0.5rem auto;
  max-width: 60rem;
  padding: 1rem;
}

main {
  background: #fafafa;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin: 0;
  padding: 1rem;

  h2:first-child { margin-top: 1rem; }
}

nav.site-nav {
  margin: 0;
  padding: 0.5rem;
}

footer.site-footer {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  margin: 0;
  padding: 0.5rem;

  ul, p {
    display: inline-block;
    margin: 0;
    padding: 0;
  }

  ul {
    li { display: inline; }

    li:not(:first-child)::before {
      content: " | ";
    }
  }
}

h1.site-title {
  font-family: $ff-sans;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1;
  margin: 0 0.5rem 0.5rem;
  padding-left: 2.5rem;

  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("#{$baseurl}/assets/img/avatars/jmikola_cartoon.png");
}

@media (max-width: 45rem) {
  div.container { padding: 1rem 0; }

  main {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  nav.site-nav, footer.site-footer {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  h1.site-title {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}

ul.post-list {
  list-style: none;
  padding: 0;

  li {
    display: flex;
    align-items: flex-start;

    time, a { display: inline-block; }

    time {
      color: #ccc;
      font-family: $ff-mono;
      font-weight: bold;
      margin-right: 0.5rem;
      white-space: nowrap;
    }
  }

  li:hover time { color: #333; }
}

@media (max-width: 50rem) {
  ul.post-list li {
    time span { display: none; }
  }
}

article {
  h1 { border-bottom: 2px solid #ccc;}

  header.post-meta { text-align: right; }

  footer.post-also {
    margin-top: 2rem;
    text-align: right;
  }
}

article > table {
  margin: 1rem auto;
  border-collapse: collapse;
  border-style: ridge;

  th, td {
    border-collapse: collapse;
    border-style: ridge;
    padding: 0.3rem;
  }
}

h1, h2, h3, h4, h5, h6 { line-height: 1.2; }

h2, h3, h4, h5, h6 { margin-top: 2rem; }

hr { margin: 2rem 0; }

p { margin: 1rem 0; }

a { text-decoration: none; }

pre, code { font-family: $ff-mono; }
pre       { font-size: 14px; line-height: 125%; }

div.highlighter-rouge code {
  display: block;
  overflow-x: auto;
  white-space: pre-wrap;
  padding: 1rem;
  border: 1px solid #ddd;
  background: #fff;
}

blockquote {
  font-style: italic;
  padding: 1rem;

  p { margin: 0; }
  p:not(:first-child) { margin-top: 1rem; }
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
