<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ page.title | default: site.title }}</title>

    <link rel="shortcut icon" type="image/x-icon" href="{{ "/favicon.ico" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
    {% feed_meta %}
    {% seo title=false %}
  </head>

  <body>
    <div class="container">
      {{ content }}

      {% include footer.html %}
    </div>

    {% include google_analytics.html %}
  </body>
</html>
