---
layout: default
title: Jeremy Mikola
use: [posts]

---
{% block content_wrapper %}
    <div id="content" class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-1">
                <header><h2>Blog Posts</h2></header>
                <section>
                    {% include 'includes/post-list.twig' with {'posts': data.posts} only %}
                </section>
            </div><!-- /.col-md-8 -->
            <div class="col-md-2">
                <img src="/images/hotdog.png" alt="Lego hotdog guy" class="img-responsive">
            </div><!-- /.col-md-5 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
{% endblock %}
